.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 70%;
  margin: 10px 0;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  height: 70%;
}

img {
  border-radius: 5px 5px 0 0;
  height: 70%;
  width: 100%;
}

.name {
  margin: 0.5rem 0;
}

.caption {
  border: 1px solid #333333;
  width: 100%;
  height: 70px;
  overflow: scroll;
}
